<div class="card">
    <div class="card-header">
    </div>
    <div class="card-block">

        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Party Id</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                            </span>
                    <input type="text" [(ngModel)]="myvar.PartyId" class="form-control" readonly="true" placeholder="PartyId">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Party Name</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-queen"></i></label>
                                                          </span>
                    <input type="text" [(ngModel)]="myvar.PartyName" class="form-control form-control-bold" placeholder="PartyName">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Party MobNo</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                          </span>
                    <input type="number" [(ngModel)]="myvar.MobileNo" class="form-control form-control-capitalize" placeholder="MobileNo">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Party GstNo</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                          </span>
                    <input type="text" [(ngModel)]="myvar.GstNo" class="form-control form-control-capitalize" placeholder="GstNo">
                </div>
            </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">VichleNo</label>
          <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                  <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-wifi"></i></label>
                                                          </span>
                  <input type="text" [(ngModel)]="myvar.VichleNo" class="form-control form-control-uppercase" placeholder="VichleNo">
              </div>
          </div>
      </div> 
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">GRRNo</label>
          <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                  <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-shield"></i></label>
                                                          </span>
                  <input type="text" class="form-control form-control-lowercase" [(ngModel)]="myvar.GRRNo" placeholder="GRRNo">
              </div>
          </div>
      </div> 
         <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">EwayBillNo</label>
          <div class="col-sm-8 col-lg-10">
              <div class="input-group">
                  <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                          </span>
                  <input type="text" class="form-control form-control-variant" [(ngModel)]="myvar.EwayBillNo" placeholder="EwayBillNo">
              </div>
          </div>
      </div>
      <div class="row">
        <label class="col-sm-4 col-lg-2 col-form-label">AadharNo</label>
        <div class="col-sm-8 col-lg-10">
            <div class="input-group">
                <span class="input-group-prepend">
                                                            <label class="input-group-text"><i class="icofont icofont-ui-volume"></i></label>
                                                        </span>
                <input type="text" class="form-control form-control-variant" [(ngModel)]="myvar.AadharNo" placeholder="AadharNo">
            </div>
        </div>
    </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Address</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                          </span>
                    <input type="text" class="form-control form-control-left" [(ngModel)]="myvar.Address" placeholder="Address">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Dl1</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                          </span>
                    <input type="text" class="form-control form-control-left" [(ngModel)]="myvar.Dl1" placeholder="Dl1">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-4 col-lg-2 col-form-label">Dl2</label>
            <div class="col-sm-8 col-lg-10">
                <div class="input-group">
                    <span class="input-group-prepend">
                                                              <label class="input-group-text"><i class="icofont icofont-presentation"></i></label>
                                                          </span>
                    <input type="text" class="form-control form-control-left" [(ngModel)]="myvar.Dl2" placeholder="Dl2">
                </div>
            </div>
        </div>

        <div style="text-align: center; padding: 20px;"> <button class='btn btn-grd-info btn-round' (click)='ready()'>Save</button> </div>
    </div>
</div>