<app-card title="List Browser">
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" [(ngModel)]="SchoolId">
        <option value=''>All</option>
        <option *ngFor="let school of SchoolList" [value]="'SchoolId = '+school['Id']">
          {{school['Name']}}
        </option>
      </select>
    </div>
    <div class="col-sm-2">
      <button (click)="getdata()" class="btn btn-primary btn-sm">Get data</button>
    </div>
  </div>
  <br>
  <ngx-datatable 
  class="data-table" 
  [rows]="dataRows"
  [columns]="dataColumns" 
  [columnMode]="'force'" 
  [headerHeight]="50" 
  [footerHeight]="'100'" 
  rowHeight = "auto" 
  [limit]="'50'">

  <ngx-datatable-column width="20">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <i class="fa fa-edit fa-2x" style="color:blueviolet;cursor:pointer" (click)="EditList(row)"></i>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngFor="let column of dataColumns" 
                        [name]="column['name']"
                        [prop]="column['prop']">
  </ngx-datatable-column>
  <ngx-datatable-column width="10">
    <ng-template let-row="row" let-rowIndex = "rowIndex" ngx-datatable-cell-template>
      <i class="fa fa-trash fa-2x" style="color:blueviolet;cursor:pointer" (click)="deleteSale(row['ListId'],rowIndex)"></i>
    </ng-template>
  </ngx-datatable-column>
  </ngx-datatable>

  <div style="text-align: right;margin-top : 2%">
    <button class="btn btn-primary btn-sm" (click)="exportToExcel()">Export</button>
  </div>
  
</app-card>