<div class="row">
    <div class="col-sm-3">
        <select [(ngModel)]="val" class="form-control">
            <option *ngFor="let x of party" [value]="x.PartyId">{{x.PartyName}}</option>
  </select>
    </div>

    <div class="col-sm-3">
        <select [(ngModel)]="val1" class="form-control" (ngModelChange)='getItem()'>
            <option *ngFor="let x of item" [value]="x.ItemId">{{x.ItemName}}</option>
  </select>
    </div>

    <div class="col-sm-3">
        <input [(ngModel)]="date1" type="date">
    </div>
    <div class="col-sm-3">
        <input type="text" [(ngModel)]="BillNo" placeholder="BillNo">

    </div>
</div>


<div class="row">
    <div class="col-sm-12">

        <ngx-datatable class="data-table" style="height: 500px;" [rows]="mydata" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="100" [rowHeight]="45" [scrollbarH]="true" [scrollbarV]="true" [limit]="50">


 
            <ngx-datatable-column [sortable]="true " name="ItemName" [width]='100' prop="ItemName ">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.ItemName }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [sortable]="true " name="HsnCode " [width]='20' prop="HsnCode ">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.HsnCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Qty" [width]='05' prop='Qty' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'Qty', rowIndex);editno(rowIndex)" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="tax" [width]='10' prop='tex_rate' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'tex_rate', rowIndex);editno(rowIndex)" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Price" [width]='10' prop='purchaseprice' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'purchaseprice', rowIndex);editno(rowIndex)" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Batch" [width]='10' prop='batch_no' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'batch_no', rowIndex);editno(rowIndex)" type="text" [value]="value" />       </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="dis%" [width]='10' prop='disper' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'disper', rowIndex);editno(rowIndex)" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total" [width]='10' prop='Total' [sortable]="false">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

                    <input class="form-control form-control-sm" autofocus (blur)="updateValue($event, 'Total', rowIndex);editno(rowIndex)" type="text" [value]="value" />
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-offset="offset">
                    <div style="padding: 5px 10px">
                        <div><strong>Total Amount</strong>:{{totalamount}}</div>
                        <hr style="width:100%" />
                        <div>Rows: {{ rowCount }} </div>
                    </div>
                </ng-template>
            </ngx-datatable-footer>

        </ngx-datatable>


    </div>
    <div style="text-align: center"><button class="btn btn-grd-info btn-round" (click)="getDomain()">Save</button></div>
</div>